
* {
  box-sizing: border-box;
 
}

body {
  /*
  background-color: #FFFFFF;
  background-image: url('./logo.svg');
  background-size: 50rem;
  background-repeat: no-repeat; 
  background-position: bottom; 
  */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.center-main-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.section {
  width: 50rem !important;
}

.bp5-form-group {
  align-items: center;
}

.bp3-html-select {
   width: 10rem; 
}

.bp5-form-content {
  justify-content: space-around !important;
}

.business-buttons  {
  width: 20rem !important;
}
.business-buttons > button {
  width: 50%;
}

.bp5-segmented-control {
  width: 100%;
  justify-content: space-around;
}

.date-of-birth-picker {
  width: 15rem !important;
}
