
* {
  box-sizing: border-box;
 
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.center-main-div {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.quote-button {
  border-radius: 10px !important;
  padding: 10px 20px !important; 
  background-color: #25E629 !important; 
  color: white !important; 
  cursor: pointer !important; 
  font-size: 16px !important; 
}

.quote-button-disabled {
  border-radius: 10px !important;
  padding: 10px 20px !important; 
  color: #5f6b7c;
  background-color: rgba(211, 216, 222, 0.5);

}

.section {
  width: 50rem !important;
}

.bp5-form-group {
  align-items: center;
}

.bp3-html-select {
   width: 10rem; 
}

.bp5-form-content {
  justify-content: space-around !important;
}

.business-buttons  {
  width: 20rem !important;
}
.business-buttons > button {
  width: 50%;
}

.bp5-segmented-control {
  width: 100%;
  justify-content: space-around;
}

.date-of-birth-picker {
  width: 15rem !important;
}
